extends layout

block content
  h1= title
  br
  ul 
    each message in messages 
      p
        p.user= message.user + ': '
        p= message.text + ' ' 
        h4 Posted on: 
          span.date= message.added
        br 
  a(href="/form") Tell these fools whats up